* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Question section */

.background {
  padding: 5% 0;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  margin-bottom: 5%;
  text-align: center;
  color: #000 !important;
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.8% 2%;
  margin: 2% 0;
  box-sizing: border-box;
  color: #555;
}

.fa-plus:hover {
  color: #000;
  font-size: 18px;
}

.question:hover {
  background-color: #f9f9f9;
  color: #000;
  cursor: pointer;
}

/* /Question section */

/* Course fee section */

.course__fee {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 6px #999;
  box-sizing: border-box;
  padding: 8%;
  margin-top: 10%;
  color: #555;
}

.course {
  display: flex;
  justify-content: space-between;
}

.participating {
  display: flex;
  justify-content: start;
  margin: 6% 0;
}

.fa-check-circle {
  color: rgb(55, 160, 55);
  margin-right: 2%;
}

.right__course {
  box-sizing: border-box;
  text-align: center;
  padding: 4%;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
}

.toman {
  margin: 25px 0;
}

.button {
  padding: 8px 33px;
  background-color: coral;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(253, 133, 90);
  color: #f0f0f0;
}

.line {
  margin: 3% 0;
}

.paragraph {
  text-align: center;
}

/* /Course fee section */

/* Request list section */

.background__black {
  background-color: #000;
}

.request__list {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 40px 0;
}

.paragraph_req {
  color: #777;
  margin: 20px 0;
}

input[type="email"].email {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  width: 60%;
  color: #fff;
}

.fa-envelope-open-text {
  font-size: 120px;
  margin: 30% 10% 0 0;
}

/* /Request list section */

/* Projects section  */

.projects {
  display: flex;
  justify-content: space-between;
}

.four {
  padding: 5px 10px;
  background-color: #d0d0d0;
  border-radius: 5px;
  width: 50px;
}

.bck__1 {
  width: 25vw;
  height: 40vh;
  background-color: #d0d0d0;
  border-radius: 5px;
  padding: 20% 20%;
  box-sizing: border-box;
}

.bck__2 {
  width: 15vw;
  height: 35vh;
  background-color: #fff;
  border-radius: 5px;
}

/* /Projects section  */
