* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  box-sizing: border-box;
}

/* Question section */

.background {
  padding: 5% 0;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  margin-bottom: 5%;
  text-align: center;
  color: #000 !important;
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 1.8% 2%;
  margin: 2% 0;
  box-sizing: border-box;
  color: #555;
}

.fa-plus:hover {
  color: #000;
  transform: scale(1.1);
}

.question:hover {
  background-color: #f9f9f9;
  color: #000;
  cursor: pointer;
}

/* /Question section */

/* Course fee section */

.course__fee {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 3px 6px #999;
  box-sizing: border-box;
  padding: 8%;
  margin-top: 10%;
  color: #555;
}

.course {
  display: flex;
  justify-content: space-between;
}

.participating {
  display: flex;
  justify-content: start;
  margin: 6% 0;
}

.fa-check-circle {
  color: rgb(55, 160, 55);
  margin-right: 2%;
}

.right__course {
  box-sizing: border-box;
  text-align: center;
  padding: 4%;
  background-color: #000;
  border-radius: 10px;
  color: #fff;
}

.toman {
  margin: 25px 0;
}

.button {
  padding: 8px 33px;
  background-color: coral;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(243, 65, 0);
  color: #f0f0f0;
}

.button:active {
  transform: scale(1.1);
}

.line {
  margin: 3% 0;
}

.paragraph {
  text-align: center;
}

/* /Course fee section */

/* Request list section */

.background__black {
  background-color: #000;
}

.request__list {
  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 40px 0;
}

.paragraph_req {
  color: #777;
  margin: 20px 0;
}

input[type="email"].email {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  width: 60%;
  color: #fff;
}

.fa-envelope-open-text {
  font-size: 120px;
  margin: 30% 10% 0 0;
}

.fa-envelope-open-text:hover {
  transform: scale(1.05);
}

/* /Request list section */

/* Projects section  */

.projects {
  display: flex;
  justify-content: space-between;
}

.four {
  padding: 5px 10px;
  background-color: #d0d0d0;
  border-radius: 5px;
  width: 50px;
}

.bck__1 {
  width: 25vw;
  height: 40vh;
  background-color: #d0d0d0;
  border-radius: 5px;
  padding: 20% 20%;
  box-sizing: border-box;
}

.bck__2 {
  width: 15vw;
  height: 35vh;
  background-color: #fff;
  border-radius: 5px;
}

.bck__1:hover {
  box-shadow: 2px 3px 6px #999;
}

.bck__2:hover {
  box-shadow: 2px 3px 15px #999;
}

/* /Projects section  */

/* Schedule section */

.of__course {
  display: flex;
  justify-content: space-evenly;
}

.start__end {
  width: 20%;
  height: 0%;
}

.time {
  display: flex;
  justify-content: space-between;
}

.timeline {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding: 2%;
  margin: 3%;
  box-shadow: 2px 3px 6px #555;
}

.timeline:hover {
  box-shadow: 0px 0px 6px #000;
}

.content__course {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin-top: 5%;
}

.nth {
  padding: 7px;
  background-color: #000;
  color: #fff;
  border-radius: 7px;
}

.nth:hover {
  cursor: pointer;
  box-shadow: 2px 3px 6px #555;
}

.sign__up {
  margin-top: 10px;
}

/* /Schedule section */

/* Footer section */

.footer {
  display: flex;
  justify-content: space-evenly;
  gap: 5%;
  padding: 3%;
}

.left-nav {
  display: flex;
  width: 9%;
  align-items: center;
}

.left__footer i {
  margin: 15px 10px;
  font-size: 20px;
}

.left__footer i:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.left-nav a {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.left-nav img {
  width: 30%;
  color: #000;
  background-color: #fff;
}

.number {
  margin: 15px 10px;
}

/* /Footer section */

@media (max-width: 56.25em) {
  .bck__1 {
    width: 25vw;
    height: 75vh;
  }

  .bck__2 {
    width: 15vw;
    height: 75vh;
  }
}

@media (max-width: 50em) {
  h4,
  p {
    font-size: 13.72px;
  }

  .title,
  .title h2 {
    font-size: 20.18px;
  }

  h2,
  del {
    font-size: 18.72px;
  }

  .bck__1 {
    width: 25vw;
    height: 65vh;
  }

  .bck__2 {
    width: 15vw;
    height: 65vh;
  }

  .timeline {
    width: 25%;
    padding: 1.5%;
    margin: 2%;
  }

  .nth {
    padding: 5px;
    border-radius: 5px;
  }

  .fa-facebook-square,
  .fa-twitter-square,
  .fa-instagram {
    font-size: 16px !important;
  }
  .left-nav {
    display: flex;
    width: 9%;
    align-items: center;
  }

  .left-nav a {
    font-size: 18px;
  }

  .left-nav img {
    width: 40%;
    margin-left: 5px;
  }
}

@media (max-width: 37.5em) {
  .number {
    display: flex;
    flex-direction: column;
  }

  .number span {
    margin: 5px 0;
  }

  .fa-plus {
    font-size: 13px;
  }

  .course {
    display: flex;
    flex-direction: column;
  }

  .left__course {
    order: 1;
  }

  .right__course {
    order: 2;
  }

  .fa-envelope-open-text {
    font-size: 100px;
    margin: 30% 10% 0 0;
  }

  .request__list {
    padding: 40px 20px;
  }

  .paragraph_req {
    margin: 20px 0;
  }

  .fa-envelope-open-text {
    font-size: 100px;
    margin: 30% 10% 0 0;
  }

  .projects {
    display: flex;
    flex-direction: column;
  }

  .projects__left {
    order: 2;
  }

  .four {
    padding: 2px 5px;
    width: 50px;
  }

  .bck__1 {
    width: 80vw;
    height: 40vh;
    padding: 6% 10%;
    margin-bottom: 20px;
  }

  .bck__2 {
    width: 65vw;
    height: 30vh;
  }
}
